/*selectors*/
/*element --> element name
id --> #elementId
class --> .className*/

#btn-blue {
	background-color: blue;
	margin-left: 30%;
}

#btn-red {
	background-color: red;
	margin-left: 30%;
}

h1 {
	text-align: center;
}

#sub-head {
	margin-left: 30%;
	width: 40%;
}


#box {
	display: flex;
	padding: 2%;
}

.part {
	width: 50%;
	margin: 2%;
}
